$bg-color: #0d0d0d;
$header-color: #bb98ef;
$header-fill: rgba(187, 152, 239, 0.2);
$text-color: #fffbe4;
$form-color: #ffffff;
$form-fill: rgba(255, 255, 255, 0.7);
$accent-color: #85c37b;
$accent-fill: rgba(133, 195, 123, 0.2);
