:root {
  --bg-color: #0d0d0d;
  --header-color: #bb98ef;
  --header-fill: rgba(187, 152, 239, 0.2);
  --text-color: #fffbe4;
  --form-color: #ffffff;
  --form-fill: rgba(255, 255, 255, 0.7);
  --accent-color: #85c37b;
  --accent-fill: rgba(133, 195, 123, 0.2);
  --invalid-accent-color: #ab2346;
}

$bg-color: var(--bg-color);
$header-color: var(--header-color);
$header-fill: var(--header-fill);
$text-color: var(--text-color);
$form-color: var(--form-color);
$form-fill: var(--form-fill);
$accent-color: var(--accent-color);
$accent-fill: var(--accent-fill);
$invalid-accent-color: var(--invalid-accent-color);

//   --bg-color: #ffffff;
//   --header-color: #397a49;
//   --header-fill: rgba(187, 152, 239, 0.2);
//   --text-color: gold;
//   --form-color: white;
//   --form-fill: black;
//   --accent-color: green;
//   --accent-fill: aqua;
//   --invalid-accent-color: magenta;
