@import "../themes/theme";
.Plus,
.Minus,
.PlaceOrderButton {
  font-family: $header-font;
  color: var(--header-fill);
  list-style-type: none;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1.5px var(--header-color);
  background: none;
  font-size: 6em;
  border: none;
}

.PlaceOrderButton {
  font-size: 2em;
  color: var(--accent-fill);
  -webkit-text-stroke: 1.5px var(--accent-color);
  letter-spacing: 3px;
  white-space: nowrap;
}

.Plus:active,
.Minus:active {
  color: var(--header-color);
}

//Flip animation

.Order {
  background-color: transparent;
  height: 200px;
  perspective: 1000px;
  z-index: 5;
  display: inline-block;
  position: absolute;
}

/* This container is needed to position the front and back side */
.Inner_Order {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an vertical flip when you move the mouse over the flip box container */
.Order:hover .Inner_Order {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.PlaceOrder,
.Queue {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.Queue {
  color: var(--form-color);
  transform: rotateX(180deg);
}

//FORM BUTTONS

.Card_Pay,
.MobilePay {
  width: 100%;
  height: 2em;
  margin-top: 1em;
  border-radius: 2px;
  border: none;
  font-family: $body-font;
}

.MobilePay {
  background-color: #5a78fe;
  color: white;
}

//Theme toggle button

.Theme_Toggle {
  width: 3em;
  height: 3em;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Theme_Toggle_Sun {
  background-image: var(--theme-icon-sun);
}

.Theme_Toggle_Moon {
  background-image: var(--theme-icon-moon);
}
