* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.liveChat {
  position: absolute;
  width: 25.5%;
  height: 200%;
  //   border: 1px solid red;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.userInput {
  border-top: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0 6px 0 0;
  overflow: hidden;
  min-height: 40px;
  input {
    font-size: 0.9em;
    padding: 0 1em;
    width: 80%;
    color: white;
  }
  button {
    width: 20%;
    border: none;
  }
}

.messages {
  padding-left: 1em;
  padding-bottom: 0.5em;
  font-size: 0.75em;
  .mes {
    display: flex;
    height: min-content;
    > * {
      padding: 0;
      padding-bottom: 0.2em;
    }
    & p:nth-child(1) {
      opacity: 0.5;
      margin-right: 0.2em;
      white-space: nowrap;
    }
  }
}
