.Guest_Form {
  p {
    text-align: center;
  }
}

.Guest_Container:hover .Guest_Form {
  height: auto;
}

.Field {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  border-bottom: 1px solid $form-color;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  color: $form-fill;
  font-family: $body-font;

  &:focus {
    outline: none;
    border-radius: 2px;
    border: 1px solid $form-color;
  }

  &:not(:focus):not(:placeholder-shown):valid {
    border: 1px solid $accent-color;
  }

  &:not(:focus):not(:placeholder-shown):invalid {
    border-color: 1px solid $invalid-accent-color;
  }
}

::placeholder {
  color: $form-color;
  opacity: 50%;
}

//Hiding default error messages

.fv-plugins-message-container {
  display: none;
}

//Styling error messages

.Error_Cardnumber,
.Error_Year,
.Error_Month,
.Error_CVC {
  font-size: 0.8em;
  color: $invalid-accent-color;
  background-color: white;
  display: none;
}

//Displaying error messages

#cardnumber:not(:focus):not(:placeholder-shown):invalid ~ .Error_Cardnumber,
#expyear:not(:focus):not(:placeholder-shown):invalid ~ .Error_Year,
#expmonth:not(:focus):not(:placeholder-shown):invalid ~ .Error_Month,
#cvc:not(:focus):not(:placeholder-shown):invalid ~ .Error_CVC {
  display: inline;
}
