@import "../themes/theme";
@import "../base/typography";

body {
  background-color: $bg-color;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $form-color;
  font-family: $body-font;
  overflow: hidden;
}

h1 {
  font-family: $header-font;
  color: $text-color;
  margin: auto;
}

ul {
  font-family: $header-font;
  color: $header-fill;
  font-size: 2em;
  list-style-type: none;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1.5px $header-color;
  letter-spacing: 3px;
}

.Guest_Container {
  flex-grow: 1;
  transform: translate(0, -50%);
  padding: 0.5em 1em;
  &:hover {
    animation: slidedown 1s forwards;
  }
}

//showing up full into about the guest table

@keyframes slidedown {
  0% {
    translate: (0, -50%);
    // border: 0px solid $header-color;
  }
  100% {
    transform: translate(0, -10%);
    background-color: $header-fill;
    // border: 1px solid $header-color;
    border-radius: 2px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  }
}
