@import "../themes/theme";

body {
  background-color: var(--bg-color);
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--form-color);
  font-family: $body-font;
  max-height: 100vh;
}

h1 {
  font-family: $header-font;
  color: var(--text-color);
  margin: auto;
}

h2 {
  font-family: $header-font;
  color: var(--header-fill);
  list-style-type: none;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px var(--header-color);
  letter-spacing: 3px;
}

ul {
  font-family: $header-font;
  color: var(--header-fill);
  font-size: 2em;
  list-style-type: none;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px var(--header-color);
  letter-spacing: 3px;
  li {
    cursor: pointer;
    width: min-content;
    white-space: nowrap;
    &.focus {
      color: var(--header-color);
    }
  }
}

p {
  padding: 1em 0em;
  color: var(--form-color);
}

// This is the part for dashboard

.Counter {
  // height: 20vw;
  font: $body-font;
  font-size: 2vh;
  color: var(--form-color);
  .Sum {
    font-family: $header-font;
    color: var(--header-fill);
    font-size: 5em;
    list-style-type: none;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px var(--header-color);
    letter-spacing: 3px;
  }
}

// .Pie {
//   border: 2px solid red;
// }

//Styling of queue tiles

.Tile_Queue,
.Tile_Serving {
  margin: 1em 1em 1em 0;
  padding: 0.5em;
  text-align: right;

  p {
    padding: 0;
    padding-bottom: 10px;
  }
}

.Tile_Queue {
  font-size: 2vh;
}

.Tile_Serving {
  text-align: left;
  border-radius: 5px;
  border: 1px solid var(--header-color);
  background-color: var(--header-fill);
  backdrop-filter: blur(5px);
}

//Styling stock labels

.Display_None {
  display: none;
}

.Stock {
  filter: blur(5px) brightness(50%);
}

.Unavail {
  filter: blur(1px) grayscale(100%);
}

.Stock_Text {
  position: absolute;
  width: 100%;
  padding: 0em 1em;
  color: var(--form-color);
  font-size: 0.9vw;
  white-space: nowrap;
}

.ChartsManager canvas {
  width: 300px !important;
  height: 300px !important;
  margin: auto;
  color: white !important;
}
