* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Grid_Container {
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
  gap: 0px 0px;
  align-items: start;
  grid-template-areas:
    "guest_container"
    "main_container"
    "footer_container";
}

.Guests {
  grid-area: guest_container;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  justify-content: space-between;
  z-index: 3;
  pointer-events: none;
  align-content: flex-start;
}
.Guest_Container {
  flex-grow: 1;
  flex-basis: 0;
  // transform: translate(0, -80%);
  height: min-content;
  padding: 0.5em 1em;
  pointer-events: all;
  &:hover {
    animation: slidedown 1s forwards;
  }
  z-index: 5;
  color: var(--form-color);
}

//showing up full into about the guest table

// @keyframes slidedown {
//   0% {
//     transform: translate(0, -80%);
//     // border: 0px solid $header-color;
//   }
//   100% {
//     transform: translate(0, -2%);
//     background-color: var(--header-fill);
//     backdrop-filter: blur(5px);
//     // border: 1px solid $header-color;
//     border-radius: 2px;
//     box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
//   }
// }

.Basket_Total {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.Order {
  margin: auto;
  width: 20%;
  text-align: center;
}

.Main_Content {
  grid-area: main_container;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
  margin: 1em;
  padding: 1em;
}

.Beer_Preview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 25em;
  height: 70vh;
  color: var(--form-color);
}

.Beer_Desc {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: min-content;
}

.Beer_Label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Beer_List {
  text-align: left;
}

.Extra_Info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Footer_Content {
  grid-area: footer_container;
  overflow: hidden;
  align-items: start;
  justify-items: start;
  position: relative;
}

//This part is for dashboard - styling for Header and Footer

.Dash_Grid_Container {
  max-height: 100vh;
  height: 100vh;
  display: grid;
  grid-template-rows: 15vh 70vh 15vh;
  align-items: center;
  grid-template-areas:
    "dash_header"
    "dash_main"
    "dash_footer";
  margin: 0em 2em;
}

.Dash_Header {
  grid-area: dash_header;

  .Image_Box {
    align-self: flex-end;
    transform: translate(0, -5em);
  }
}

.Dash_Main {
  grid-area: dash_main;
  overflow: hidden;
  height: 100%;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Dash_Footer {
  grid-area: dash_footer;
  transform: translate(0, 5em);

  .Image_Box {
    align-self: flex-start;
  }
}

.Dash_Header,
.Dash_Footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 1em;
  max-height: 200px;

  .Image_Box {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 12%;

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }
}

//Styling for Dash_Main and Manager's panel

.Dashboard_Content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  & > * {
    // border: 1px solid white;
    text-align: center;
  }
  // & > *:not(:last-child) {
  //   border-right: 1px solid white;
  // }
}

.Manager_Content {
  transform: translate(0, 0);
  position: static;
  height: 70vh;
  width: 95vw;
  border: 1px solid var(--header-color);
  border-radius: 5px;
  background-color: var(--header-fill);
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  padding: 0em 1em;

  & > * {
    text-align: center;
  }
}
